.loading{
    background-image: url('/images/road.jpg');
    background-image: url('/images/loading.gif');
    position: absolute;
    right: 5.5%;
    top: 40%;
    background-size: 20% 40%;
    background-repeat: no-repeat;
    display: flex;
    height: 50vh;
    width: 50vw;
}
.load-background {
    display: flex;
    align-content: center;
    background-image: url('/images/road.jpg') ;
    background-position: center;
    background-size: cover;
    justify-content: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    width: 100vw;
}